@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}



.form-group.required .control-label:after { 
  content:"*";
  color:red;
}

.main-login
{
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100%;
  color: white;

}


.font-size-small
{
  margin-top: -20px;
  margin-bottom: 3px;
  font-size: 14px;
  text-align: left;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
